#background {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
}
a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  height: 150px;
  width: 20%;
  border-style: hidden;
  border-width: 3px;
  border-color: rgb(165,42,42,0.1);
  z-index: 2;
  margin-top: 500px;
  text-align: center;
  margin-top: 20px;
  margin-left: 600px;
  font-size: 20px;
  line-height: 0.5;
}
.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #666;
  color: white;
}

#logo {
  width: 200px;
  height: 200px;
  margin-left: 650px;
  margin-top: 200px;
}

.table{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.column {
  display: inline-grid;
  width: 10%;
  margin-left:auto;
  margin-right:auto;
}
/* Clear floats after image containers */
.row::after {
  clear: both;
  display: table;
  margin-left:auto;
  margin-right:auto;
}
#asianfood {
  width:100px;
}

#westernfood {
  width:100px;
}

#dessert {
  width:100px;
}
