/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fcf5f2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  font-family: Arial, Helvetica, sans-serif;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
/* Image*/

#asianfood {
  width:20%;

}

#westernfood {
  width:20%;
}

#dessert {
  width:20%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
  font-weight: bold;
  transform:scale(1.1,1.1);
  font-family: Arial, Helvetica, sans-serif;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  background: url("https://i.imgur.com/U1G55cU.jpg");
  background-color: #cccccc;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#rec {
  margin-top: 200px;
  margin-left: 50px;
  display: inline-grid;
  opacity: 0.7;
}

.card-img{
  width:300px;
}
